body{
  padding-top:80px;
  word-wrap:break-word;
  text-align: center;
  background: rgba(238,238,238,1.0);
}
img{
  height: 200px;
}
.id{
  display: none;
}
.red{
  color: red;
}
.redb{
  background: red;
}
.redb:hover{
    background: red;
}

li{
  list-style: none;
}

form li input,
form li button{
  border-radius: 21px;
  border: 1px solid grey;
  padding-left: 6px;
  padding-right: 6px;
  margin: 3px;
  width: 200px;
  background-color: white;
}
.sideby{
  width: 50%;
  float: left;
}
.side{
  width: 100%;
  float: left;
}
